<div class="container-fluid overflow-auto">
    <marquee><h4 class="header-2 fs-4">India's No.1 Online Doctor Appointment Service.... Find the best doctors, clinics & hospitals in the city nearest to you.</h4></marquee>
   
    <div class="w-100 h-50 home_bg pt-5" >
            <h1 class="header-1 text-center pt-5 mt-5 mb-4 fs-1">Your Health, Our Priority</h1> 
            <h1 class="header-1 text-center fs-1">Stay at Home. Consult Doctors Online.</h1>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-primary mt-5 rounded-pill" routerLink="/doctors" routerLinkActive="active">Book Appointment</button>
        </div>
   </div>

<app-online-appointment></app-online-appointment>
<app-clinic></app-clinic>
<app-mobileapp></app-mobileapp>
</div>
    

    