<div class="container-fluid bg-dark py-5">
    <div class="row">
        <div class="col-3">
            <div class="navbar-brand ms-4 d-flex align-items-center"><img src="../../assets/brand1.png" alt="loading" width="100px" height="100px">
                <h1 class="brand-name">.Care</h1>
            </div>
            <p class="p p-5 lh-1">Revolutionizing Healthcare.
                 🌟 Book Your Appointment Online and Connect with Top Specialists. Your Health, Our Mission. 🩺💼 Experience the Future of Medical Consultations with Dr.Care. 🚀</p>
        </div>
        <div class="col-md-3">
            <h2 class="header">For Information</h2>
            <ul>
                <li><a class="link">Contact us</a></li>
                <li><a class="link">Booking Guide</a></li>
                <li><a class="link">Pharmacy</a></li>
                <li><a class="link">Careers</a></li>
                <li><a class="link">Press Release</a></li>
                <li><a class="link">FAQ's</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="header">Helpful Links</h2>
            <ul>
                <li><a class="link">Book Appointment</a></li>
                <li><a class="link">Search for Doctor</a></li>
                <li><a class="link">Search for Hospitals</a></li>
                <li><a class="link">Login/Register</a></li>
                <li><a class="link">Mail</a></li>
                <li><a class="link">Services</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="header">About Us</h2>
                    <div class="d-flex align-items-center gap-3 mb-1">
                        <mat-icon class="icon">account_circle</mat-icon>
                        <p class="p">DIVAKAR S</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-1">
                        <mat-icon class="icon">how_to_reg</mat-icon>
                        <p class="p">22ITR024</p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-1">
                        <mat-icon class="icon">call </mat-icon>
                        <p class="p">+91 77086 92426</p>
                    </div>
                    <div class="d-flex align-items-center gap-3mb-1">
                        <mat-icon class="icon">location_on</mat-icon>
                        <p class="p">Mettur, Salem, TamilNadu</p>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <mat-icon class="icon">email</mat-icon>
                        <p class="p">divakars.22it&#64;kongu.edu</p>
                    </div>      
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between mx-5">
        <div class="d-flex align-items-center gap-3">
            <mat-icon class="icon">copyright</mat-icon>
            <p class="p mt-2">Dr.Care. All rights reserved.</p>
        </div>
        <p class="p mt-2">
            Terms and Conditions | Policy
        </p>
    </div>
</div>