<div class="body">
        <h1 class="text-center mb-4 h-1 fs-1">Discover the Online Appointment!</h1>
        <h4 class="text-center h-2 fs-4">A step-by-step guide to build an on-demand appointment for patients</h4>

        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-lg-4 p-3">
                    <h3 class="text-center text-info mb-5 fs-4">FIND A DOCTOR</h3>
                    <P class="text-center ">With more than 1000+ doctors and on mission to provide best care Health Care Service</P>
                </div>
                <div class="col-lg-4 p-3">
                    <h3 class="text-center text-info mb-5 fs-4">VIEW DOCTOR</h3>
                    <P class="text-center">Share your health concern here and we shall assign you a top doctor across the North East</P>

                </div>
                <div class="col-lg-4  p-3">
                    <h3 class="text-center text-info mb-5 fs-4">BOOK APPOINTMENT</h3>
                    <P class="text-center">Book your time slot with doctor from your comfort zone</P>

                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center my-5">
            <button class="btn btn-primary rounded-pill">Find Doctor</button>
        </div>
        
</div>
