<nav class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid ">
        <div class="navbar-brand ms-4 d-flex align-items-center mb-4"><img src="{{imageUrl}}" alt="loading" width="64px" height="64px">
        <h1 class="brand-name fs-1 pt-3">.Care</h1>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-lg-4" id="navbarScroll">
            <ul class="navbar-nav me-auto gap-5 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active fs-4" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" routerLink="/doctors" routerLinkActive="active">Book Appointment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" routerLink="/health" routerLinkActive="active">Health Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" routerLink="/orders" routerLinkActive="active">Order Medicine</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-4" routerLink="/maps" routerLinkActive="active">Hospitals</a>
              </li>
            </ul>
            <form class="d-flex gap-4 me-3 pe-2">
                <input class="form-control form-control-lg w-100" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success w-50 btn-lg" type="submit">Search</button>
                <button class="btn btn-outline-primary h-50 w-50 btn-lg" type="submit" routerLink="/signup" routerLinkActive="active">Login</button>
              </form>

          </div>

    </div>

</nav>