<div class="body">
    <h1 class="text-center mb-4 h-1 fs-1">Clinic and Specialities!</h1>
    <h4 class="text-center h-2 mb-5 fs-4">Find experienced doctors across all specialties</h4>

    <div class="contaier w-75 h-50 m-auto">
        <div class="d-flex align-items-center gap-5">
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/cardiology.png" alt="loading" class="speicality-img">
                <p class="item">Cardiology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/neurology.jpeg" alt="loading" class="speicality-img">
                <p class="item">Neurology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/urology.png" alt="loading" class="speicality-img">
                <p class="item">Urology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/orhto.jpeg" alt="loading" class="speicality-img">
                <p class="item">Orthopedic</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/dentist.jpeg" alt="loading" class="speicality-img">
                <p class="item">Dentist</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/dermotology.jpg" alt="loading" class="speicality-img">
                <p class="item">Dermatology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/hemotology.jpg" alt="loading" class="speicality-img">
                <p class="item">hemotology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/physocology.jpg" alt="loading" class="speicality-img">
                <p class="item">psychology</p>
            </div>
            <div class="d-inline-block">
                <img src="../../../../assets/clinic/Untitled.png" alt="loading" class="speicality-img">
                <p class="item">Naturopathy<p>
            </div>
        </div>
    </div>

    <h4 class="text-center h-2 mb-5 mt-5 fs-5">Largest Healthcare Network Across India</h4>
    <h4 class="text-center h-2 mb-5 mt-4 fs-5">Experience personalized care at your fingertips find the perfect specialist for your needs and book your appointment hassle-free today.</h4>

</div>
